<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
	<parameter name="uid" value="vikrish"></parameter>
	<groups>
	<run>
	<include name="reg" />
	</run>
	</groups>
	
		<classes>
			<class name="Gen.cool.mypage" />
			<class name="Gen.cool.dataprovider" />
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
